:root{
  --note-bg: #F1F3F5;
  --note-border: #CED4DA;
  --note-hover: #E9ECEF;
  --note-active: #CCE6FF;
  --text-caption: #495057;
  --gray-200: #E9ECEF;
}

.notes-page {
  /* display: flex; */
  height: 100vh;
  background: #fff;
  color: #fff;
}

.note-section {
  margin-bottom: 40px;
}

.notes-section h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
  margin-left: 30px;
  color: var(--text-primary);
}

.notes-content {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr)); 
  gap: 20px;
  margin-left: 30px;
}

.note-card {
  background: var(--note-bg);
  border-radius: 10px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: transform 0.2s, background 0.2s;
  height: 150px;
  cursor: pointer;
  border: 2px solid var(--gray-400);
}

.note-card:hover {
  background: var(--note-hover) ;
  transform: translateY(-2px);
}

.note-card.favorite {
  border: 2px solid var(--gray-400);
}

.note-card__icon {
  width: 24px;
  height: 24px;
  margin-bottom: 10px;
}

.note-card__title {
  margin: 0 0 6px;
  font-size: 24px;
  font-weight: 700;
  color: var(--text-primary);
}

.note-card__text {
  margin: 0;
  font-size: 16px;
  color: var(--text-caption);
}
