.subdir-item {
  position: relative;
}

.subdir-header:hover .subdir-menu-dots,
.subdir-header:hover .subdir-menu-favorite {
  display: block !important;
}

.subdir-menu-dots {
  right: 8px;
  top: 50%;
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
}

.subdir-menu-dots img {
  width: 16px;
  height: 16px;
}

.note-menu {
  position: absolute;
  background: rgba(var(--primary-600), 0.9);
  border: 1px solid var(--primary-100);
  border-radius: 6px;
  backdrop-filter: blur(3px);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  z-index: 1000;
  padding: 8px 0;
}

.note-menu button {
  display: block;
  width: 100%;
  padding: 8px 16px;
  text-align: left;
  border: none;
  background: none;
  cursor: pointer;
}

.note-menu button:hover {
  background-color: var(--primary-100);
}

.user-menu--visible {
  display: block;
}


