.tech-support {
  max-width: 900px;
  width: 100%;
  padding: 24px;
  background-color: var(--bg-default);
  border-radius: 8px;
  color: var(--text-noraml);
}

#tech-support-iframe {
  border: 2px solid var(--primary-300);
  box-shadow: 0 6px 20px rgba(47, 111, 246, 0.2);
}

.tech-support-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
  margin-bottom: 24px;
  border-bottom: 1px solid var(--primary-200);
}

.tech-support-header h2 {
  font-size: 21px;
  font-weight: 700;
  margin: 0;
  flex: 1;
  text-align: center;
}

.tech-support-header .back-to-menu-button,
.tech-support-header .back-to-list-button,
.tech-support-header .back-to-all-list-btn,
.tech-support-header #back-to-admin-menu-btn {
    position: absolute;
    left: 20px;
}

.close-button, .back-to-menu-button, .back-to-list-button, #back-to-all-list-btn, #back-to-admin-menu-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
}

.close-button img {
  width: 12px;
  height: 12px;
}

.back-to-menu-button img, .back-to-list-button img, #back-to-all-list-btn img, #back-to-admin-menu-btn img {
  width: 22px;
  height: 22px;
}

.tech-support-content {
    margin-top: 24px;
}

.tech-support-content p {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 14px;
  color: var(--text-noraml);
}

.tech-support-content input,
.tech-support-content textarea,
.tech-support-content select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid var(--primary-300);
  color: var(--text-noraml);
  font-size: 16px;
  margin-bottom: 8px;
  font-family: inherit;
}

.form-group.readonly input:disabled,
.form-group.readonly input[readonly],
.form-group.readonly textarea[readonly] {
    background-color: var(--gray-200);
    cursor: not-allowed;
    opacity: 0.7;
}

.messageContent {
  resize: vertical;
}

.form-status-message {
    text-align: center;
    padding: 8px;
    border-radius: 6px;
    font-size: 14px;
    margin-top: 12px;
    visibility: hidden;
}

.form-status-message.success {
    background-color: #d4edda;
    color: #155724;
    visibility: visible;
}

.form-status-message.error {
    background-color: #f8d7da;
    color: #721c24;
    visibility: visible;
}

.tech-support-wrapper {
  width: 52px;
  height: 52px;
  background: rgb(0, 119, 255);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: rgba(0, 119, 255, 0.5) 0px 0px 20px 1px;
  z-index: 1000;
  position: fixed;
  right: 24px;
  bottom: 24px;
}

.tech-support .sidebar,
.tech-support .tech-support-wrapper {
  display: none !important;
}