.login-modal,
.register-modal {
  position: fixed; /* Фиксированное положение */
    top: 50%; /* Центрируем по вертикали */
    left: 50%; /* Центрируем по горизонтали */
    transform: translate(-50%, -50%); /* Сдвигаем для центрирования */
    width: 400px; /* Ширина модального окна */
    padding: 20px; /* Отступы внутри модального окна */
    background: rgba(255, 255, 255, 0.1); /* Полупрозрачный белый фон */
    border-radius: 15px; /* Закругленные углы */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2); /* Тень для эффекта глубины */
    backdrop-filter: blur(10px); /* Эффект размытия фона */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Полупрозрачная граница */
    z-index: 1000;
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.login-modal.show,
.register-modal.show {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.login-form,
.register-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.login-form input,
.register-form input {
  width: 100%;
    padding: 10px; /* Отступы внутри поля ввода */
    margin-bottom: 15px; /* Отступ снизу */
    border: none; /* Убираем стандартную границу */
    border-radius: 5px; /* Закругленные углы */
    background: rgba(255, 255, 255, 0.2); /* Полупрозрачный фон для поля ввода */
    color: var(--text-noraml); /* Цвет текста */
}

.login-form input::placeholder {
    color: #000;
    opacity: 1;
}

.login-buttons,
.register-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.login-buttons button,
.register-buttons button {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
}

.login-buttons button:first-child,
.register-buttons button:first-child {
  background: var(--primary-color);
  color: #fff;
}

.login-buttons button:first-child:hover,
.register-buttons button:first-child:hover {
  background: var(--primary-400);
}

.register-btn,
.login-btn {
  background: #f98512;
  color: #fff;
}

.register-btn:hover,
.login-btn:hover {
  background: #ffa041;
}

.login-form input::placeholder {
    color: rgba(73, 80, 87, 0.7);
}

.welcome {
    margin-left: 5%;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    font-size: 80px;
    height: 100vh;
    
}